// src/sass/main.scss
$body-font-family: 'Gotu', sans-serif;
$heading-font-family: 'Waterfall', sans-serif;
$border-radius-root: 0;

@import '~vuetify/src/styles/styles.sass';

.v-card,
.v-btn {
  @include elevation(0);
}
.cursor_pointer{
  cursor: pointer;
}
.fadeGroup-enter-active, .fadeGroup-leave-active {
  transition: opacity 2s
}
.fadeGroup-enter, .fadeGroup-leave-to{
  opacity: 0
}

